.ButtonTeclado {
    background-color: #252525;
    color: white;
    font-size: 30;
}

.ButtonBorrar {
    background-color: #252525;
    color: white;
    font-size: 17;
}

.ButtonIniciar {
    background-color: #3F41C4;
    color: white;
    font-size: 20;
}
